html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.loadingCircle {
  display: grid;
  place-items: center;
  margin-top: 300px;
}

.index-menu {
  float: left;
}

.book-table {
  width: 250px;
}

.index-book-img {
  margin-left: 50px;
}

.index-book-cover {
  height: 250px;
  width: 150px;
  object-fit: contain;
}

.index-book-infos {
  float: left;
}

.index-book-info {
  margin-left: 30px;
}

.index-add-btn {
  margin: 10px;
}

.book-card-index {
  margin: 10px;
}

.register-button {
  margin-top: 10px;
}
.register-search-form {
  margin-top: 50px;
}
.register-form {
  margin-top: 40px;
}

.detail-book-img {
  height: 350px;
  width: 200px;
  object-fit: contain;
}

.editBtn {
  float: left;
  margin: 10px;
}

.login_btn {
  display: grid;
  place-items: center;
}

.login {
  margin-top: 300px;
}

.profileInfo {
  float: left;
}

.myPage {
  margin-top: 50px;
}

.myPageBooks {
  margin-top: 50px;
}

.myPageBooksHistory {
  margin-top: 80px;
}

.book-detail-section {
  margin-top: 50px;
}

.image-section {
  float: left;
}

.info-section {
  margin-top: 30px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
