html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .book-index-section{
  display: flex;
  justify-content: center;
} */

.index-add-btn {
  margin: 10px;
}

.book-card-index {
  margin: 10px;
  /* float:left; */
}

.register-button {
  margin-top: 10px;
}

.login_btn {
  display: grid;
  place-items: center;
}

.image-section {
  float: left;
}

/* .info-section{
  float: left;
} */

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
